body {
  font-family: Arial, sans-serif;
  background-color: #F7E2B4;
}

nav {
  background-color: #8B2500;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

section {
  padding: 50px;
  text-align: center;
}

h1, h2 {
  color: #8B2500;
  text-shadow: 1px
